<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>387935621078-s3qvdjkn9o3rn2tg8c1hgik66l42u6vn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.387935621078-s3qvdjkn9o3rn2tg8c1hgik66l42u6vn</string>
	<key>API_KEY</key>
	<string>AIzaSyAvLZqovn5wqCPBqHEQHYCA83ChfDMr_Xo</string>
	<key>GCM_SENDER_ID</key>
	<string>387935621078</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mock</string>
	<key>PROJECT_ID</key>
	<string>fusen-mock</string>
	<key>STORAGE_BUCKET</key>
	<string>fusen-mock.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:387935621078:ios:a620413dd30442ec46de77</string>
</dict>
</plist>